@charset "UTF-8";
/* 定义闪烁动画 */
@keyframes slow-blink {
  0% {
    opacity: 1;
    /* 元素完全可见 */
  }
  50% {
    opacity: 0.2;
    /* 元素完全透明 */
  }
  100% {
    opacity: 1;
    /* 元素重新可见 */
  }
}
.ajax.loading {
  animation: slow-blink 2s infinite;
  /* 动画周期为2秒，循环无限次 */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
}

.container {
  width: 450px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  max-height: 600px;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
}
.mask.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask .frame {
  width: 90%;
  height: 75%;
  border-radius: 5px;
  background: #f1f1f1;
  margin-top: -30px;
}
.mask .frame#popframe .pop-controls {
  display: flex;
  gap: 2px;
  font-size: 14px;
  color: #81b7ce;
  cursor: pointer;
  position: relative;
  top: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.mask .frame#popframe .pop-controls span {
  display: none;
  margin-left: 8px;
}
.mask .frame#popframe .pop-controls span:hover {
  opacity: 0.5;
}
.mask .frame#popframe .pop-controls span.show {
  display: inline-block;
}
.mask .frame#popframe .img-container {
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mask .frame#popframe .img-container.clean {
  filter: blur(0px);
}
.mask .frame#popframe img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.feed::-webkit-scrollbar {
  width: 8px;
}

.feed::-webkit-scrollbar-track {
  background: transparent;
}

.feed::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.feed::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px 3px 0px 0px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.message .content {
  font-size: 13px;
}
.message a {
  text-decoration: none;
  padding: 1px 3px 1px 3px;
  margin: 3px;
  border-radius: 2px;
  color: #666 !important;
  background-color: rgba(200, 206, 237, 0.6666666667);
}
.message a.former {
  color: #fff !important;
  background-color: #82d497;
}
.message.unread {
  background: rgba(219, 227, 238, 0.3803921569);
}
.message.same-author {
  margin-top: -15px;
  border-radius: 0px;
  border-top: 1px dotted #ccc;
  background: #eaeaea;
}
.message.same-author.unread {
  background: rgba(219, 227, 238, 0.57);
}
.message.same-author .content {
  color: #555;
  font-size: 12px;
}
.message.same-author .message-meta {
  justify-content: flex-end;
  font-size: 8px;
}
.message.same-author .message-meta .msg-avator {
  display: none;
}
.message.same-author .message-meta .msg-nickname {
  color: #81b7ce;
  font-size: 8px;
}
.message .message-meta {
  display: flex;
  align-items: flex-end;
  background: rgba(240, 255, 255, 0.3333333333);
}
.message .message-meta span {
  margin-right: 5px;
}
.message .message-meta .msg-time {
  color: darkgray;
}
.message .message-meta .msg-source {
  color: cadetblue;
}
.message .message-meta img.msg-avator {
  width: 20px;
  border: 1px dotted grey;
  border-radius: 5px;
  margin-right: 10px;
}
.message .message-meta .msg-nickname {
  font-size: 12px;
  color: cornflowerblue;
  margin-right: 5px;
  white-space: nowrap;
  /* 强制文本不换行 */
  overflow: hidden;
  /* 超出部分隐藏 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  max-width: 80px;
}
.message .content {
  margin: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1.4em;
  color: #333;
  word-wrap: break-word;
  /* 限制在一个块元素中显示的最大行数 */
  -webkit-line-clamp: 5;
  line-clamp: 5;
  /* 指定块元素的布局方式 */
  display: -webkit-box;
  /* 指定行的垂直方向 */
  -webkit-box-orient: vertical;
  /* 溢出的内容会被隐藏 */
  overflow: hidden;
  /* 超出的内容显示省略号 */
  text-overflow: ellipsis;
}
.message .content .info-highlight {
  color: #0056b3;
}
.message .content .name-highlight {
  color: #28a745;
}
.message .content .content-highlight {
  background-color: #f2eed7;
}
.message .content img.content-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: inset 0px 0 11px 8px rgba(212, 207, 207, 0.74);
  border-radius: 4px;
  cursor: pointer;
}
.message.reply .actions span.reply-src {
  display: block;
}

.actions {
  display: flex;
  gap: 2px;
  position: absolute;
  bottom: 4px;
  right: 6px;
  font-size: 12px;
  color: #81b7ce;
  cursor: pointer;
}

.actions span {
  display: inline-block;
  margin-left: 8px;
}
.actions span.reply-src {
  display: none;
}

.actions span:hover {
  color: #0056b3;
}

.post-section {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.post-section .button-array {
  display: flex;
}
.post-section .button-array .post-span {
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #aaa;
  border-right: 0px solid #aaa;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  background: #fefefe;
}
.post-section .button-array .post-span.active {
  background: #ddd;
  color: #fff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.3), -1px 1px 0px rgba(255, 255, 255, 0.6);
  /* 左上角 */
}
.post-section .button-array .post-span:hover {
  opacity: 0.8;
}
.post-section .button-array .post-span.button {
  color: #fff;
  background: #28a745;
  border: 1px solid #28a745;
}
.post-section .button-array .post-span.button:hover {
  background: #218838;
}
.post-section .button-array .post-span.first {
  border-radius: 5px 0px 0px 5px;
}
.post-section .button-array .post-span.last {
  border-radius: 0px 5px 5px 0px;
}
.post-section #userinfo {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
.post-section #userinfo .meta {
  font-size: 9px;
  color: rgba(128, 128, 128, 0.5411764706);
  position: relative;
  top: 3px;
}
.post-section #userinfo .meta .value {
  color: #28a745;
}
.post-section #userinfo #user-name {
  font-size: 15px;
  color: cornflowerblue;
  margin-right: 5px;
  white-space: nowrap;
  /* 强制文本不换行 */
  overflow: hidden;
  /* 超出部分隐藏 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  max-width: 100px;
}
.post-section #userinfo #user-avator img {
  width: 35px;
  height: auto;
  border: 1px solid rgba(128, 128, 128, 0.2901960784);
  border-radius: 3px;
  padding: 3px;
}

#user-description {
  /* transform: rotate(5deg); */
  font-size: 12px;
  color: #28773c;
  opacity: 0.5;
  position: fixed;
  bottom: 15px;
  left: 58px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  z-index: 100;
}/*# sourceMappingURL=popup.css.map */